<div class ="three columns sidebar-container" style="margin: 0;">
  <div class="logo-caption">
    <a href="/"><div class="logo" ></div></a>
  </div>
  <div class="full-profile-data">
    <% if user_signed_in? %>
    <div class="margin-auto">
      <div class="images" style="background-image: url(<%=current_user.avatar.url(:thumb)%>);"></div>
     </div>
    <h6><%= current_user.first_name%> <%= current_user.last_name %></h6>
    <p><%= current_user.username %></p>
    <% end %>
  </div>
</div>

<header id="header">
  <p class="header-logo"><span style="color:#67C3EC">SHEHU</span>TAILA</p>
  <nav id="primary_nav_wrap">
    <ul>
      <li><button class="header_button">Explore</button></li>
      <li> <a href="#"><div class="bell-icon"> <%= icon('bell') %> </div> </a>
        <ul>
          <% if user_signed_in? %>
            <li>
            <%= link_to('Edit Profile', edit_user_registration_path) %>        
            </li>
            <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
            </li>
          <% end %>
        </ul>
      </li> 
    </ul>
  </nav>
</header>

<p style="text-align:center"> <b> Edit Profile </b> </p>
<div class="five columns" style="margin-left:20px">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<b> Avatar: </b> <%= f.file_field :avatar %><br>

<b> Username: </b> <%= f.text_field :username, autofocus: true %><br>

<b> First name: </b> <%= f.text_field :first_name, autofocus: true %><br>

<b> Last name: </b> <%= f.text_field :last_name, autofocus: true %><br>

<b> Email address: </b> <%= f.email_field :email, autofocus: true, class: "edit-input" %><br>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <i>(leave blank if you don't want to change it)</i><br>
  <b> Password: </b> <%= f.password_field :password, autocomplete: "off", class: "edit-input" %><br>

  <b> Password confirmation: </b> <%= f.password_field :password_confirmation, autocomplete: "off", class: "edit-input" %><br>

  <i>(we need your current password to confirm your changes)</i><br>
  <b> Current password: </b> <%= f.password_field :current_password, autocomplete: "off", class: "edit-input" %><br>

  <%= f.submit "Update", class: "button button-blue" %><br>
<% end %>
</div>
<div class="four columns">
<b>Cancel my account</b>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button button-blue" %></p>

<%= link_to "Back", :back %>
<div>
