<div class="row full-height" >

	<div class="three left-panel columns" >
		<div class="mini-logo" >
			<h5 href="#">
				S<span>T</span>
			</h5>
		</div>

		<div class="user-info" >
			
			<%= image_tag("kanye.jpg") %>
			<h4 class="user-name" >Kanye West</h4>
			<p class="user-handle" >@kanyeezy</p>
		</div>

		

		<div class="recent-order-history" >
			<p class="title">RECENT</p>
			<p class="body-item" >
				<span class="product-name" >Ankara 35</span>
				<span class="order-time" >JUST NOW</span>
			</p>

		</div>
		<div class="clear" ></div>
		<div class="stared-products" >
			<p class="title">STARED</p>

			<div class="body-item" >
				<span class="label" ><%= image_tag("ico2.png") %></span>
				<span class="thumbnail" ><%= image_tag("ico1.png") %></span>
				<span class="product-name" >
					cotton gold
				</span>
			</div>

		</div>

		<!-- <div class="bottom-marker" >		
			<span class="bottom-marker-item" ><%= image_tag("ico3.png") %></span>
		</div> -->


	</div>


	<div  class="nine main-content-panel columns" >

		<div class="header-section" >							
		<div class="row" >
				<div class="nine columns" >
					<div class="logo" >
						<h6>Shehu<span>Taila</span></h6>
					</div>
				</div>

				<div class="three columns" >
					<div class="nav-container" >
						<ul>
							<li class="nav-item" ><a href="" class="nav-button " >explore</a></li>
							<li class="nav-item" ><a href=""><%= icon('bell') %></a></li>
						</ul>
					</div>	
				</div>
		</div>
		</div>


		<div class="body-section-container" >
		<div class="body-section" >
			<div class="order-item-container" >

				<div class="order-item" >

					<div class="zero" >
					<div class="product-name-block zero" >						
						<span class="product-name" >ANKARA</span>
						<span class="product-price" >₦ 20,000</span>
					</div>
					<span class="order-time" > <%= icon("clock-o") %> Just Now</span>
					</div>

					

					
				</div>

				<div class="order-description" >

				
					<span class="order-description-item" >
						<span class="label" >STYLE:</span>
						<span class="item" >Garaji</span>
					</span>

					<span class="order-description-item" >
						<span class="label" >MATERIAL:</span>
						<span class="item" >Suede</span>
					</span>

					<span class="order-description-item expedited" >
						<span class="item" > <i class="icon" ></i> Expedited </span>
					</span>

					<span class="order-description-item last " >
						<span class="status-button" ><a href="#" class="status-view " > View Status</a></span>
					</span>

					
				</div>
				
			</div>
		</div>

		<div class="body-section" >
			<div class="order-item-container" >

				<div class="order-item" >
					<span class="product-name" >ANKARA</span>
					<span class="order-time" > <%= icon("clock-o") %> 3d ago</span>
					<div class="clear" ></div>
					<span class="product-price" >₦ 20,000</span>

					
				</div>

				<div class="order-description" >
					<span class="order-description-item" >
						<span class="label" >STYLE:</span>
						<span class="item" >Jalabia</span>
					</span>

					<span class="order-description-item" >
						<span class="label" >MATERIAL:</span>
						<span class="item" >Alabi</span>
					</span>

					<span class="order-description-item expedited" >
						<span class="item" > <i class="icon" ></i> Expedited </span>
					</span>

					<span class="order-description-item" >
						<span class="status-button " > <a href="" class="status-delivered " > Delivered <i class="icon" ></i></a></span>
					</span>
				</div>
				
			</div>
		</div>
			
		</div>

		<!-- <div class="footer-section">


			<p class="footer-content" >Copyright © Sheutaila 2015</p>
			
		</div> -->
	</div>


	
</div>