<p id="notice"><%= notice %></p>

<%= image_tag @style.avatar.url(:medium) %>
<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @style.stock %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @style.color %>
</p>

<p>
  <strong>Color1:</strong>
  <%= @style.color1 %>
</p>

<p>
  <strong>Color2:</strong>
  <%= @style.color2 %>
</p>

<p>
  <strong>Color3:</strong>
  <%= @style.color3 %>
</p>

<p>
  <strong>Color4:</strong>
  <%= @style.color4 %>
</p>

<p>
  <strong>Tribe:</strong>
  <%= @style.tribe %>
</p>

<p>
  <strong>Location:</strong>
  <%= @style.location %>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
